/* Variables
   ========================================================================== */
:root {
  --header-bg-image: url("../../images/layout/hawaii2.jpg");

  --header-font-color: #fff;
  --brand-font-size: 3.5rem;
  --logo-width: 185px;
  --menu-top-bg-color: #212322;
  --menu-font-size: 1rem;
  --body-bg-color: #fafafa;
  --body-text-color: #000000;
  --body-font-size: 1rem;
  --body-font-family: "Open Sans", sans-serif;
  --footer-bg-color: #212322;
  --footer-font-color: #fff;
  --heading-font-family: "Open Sans", sans-serif;
  --link-color: #fc4c02;
  --darkest-color: #000000;
  --medium-color: #adadad;
  --light-color: #f2f0e9;
  --bright-color: #FFC845;
  --danger-color: #FC4C02;
  --max-innertext-width: 1024px;
}
